/* End: Variables */
/* Standard Elements: Start */
html,
body {
  height: 100%;
  font-family: 'Karla', sans-serif;
  margin: 0 !important;
}

h1 {
  font-size: 4rem;
  color: #000 !important;
}

h2 {
  font-size: 1.9rem;
}

p {
  max-width: none !important;
}

button:not(#alert-ok):not(.glitchButtonElement) {
  font-weight: 700;
  border: 2px solid #000000;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  font-size: 18px;
  -webkit-box-shadow: -12px 10px 0px 2px #000;
          box-shadow: -12px 10px 0px 2px #000;
  background-color: #fff;
  -webkit-transition: all 0.2s ease, background-color 0.5s ease;
  transition: all 0.2s ease, background-color 0.5s ease;
}

button:not(#alert-ok):not(.glitchButtonElement):hover:not(.glitchButtonElement):not(#alert-ok) {
  background-color: #037f51 !important;
}

button:not(#alert-ok):not(.glitchButtonElement):active:not(.glitchButtonElement):not(#alert-ok) {
  background-color: #106b5a;
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
  border: 5px solid #000;
}

/* Standard Elements: End */
/* Document Wide: Start */
#alert-div {
  display: none;
  background-color: #fff;
  top: 10px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 5px;
  border: 2px solid #f37423;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 300px;
  left: 50%;
  padding: 9px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-weight: 600;
}

#alert-div button {
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid #aaa;
  padding: 2px;
  text-align: center;
  width: 80px;
  cursor: pointer;
  float: right;
  font-weight: 600;
}

#alert-div button:hover, #alert-div button:active {
  background-color: #f37423;
  border: 2px solid #f37423;
  color: #fff;
}

.init-hide {
  display: none;
}

.init-hide-imp {
  display: none !important;
}

.sub-title {
  font-weight: 800;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
}

.fas {
  font-size: 7rem;
}

.small-btn {
  width: 100%;
  padding: 10px 17px;
  border-radius: 100px;
  border: 2px solid #000;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.small-btn:active {
  border: 5px solid #000;
}

#page-1 {
  padding: 3em 2em 2em;
}

#page-3 {
  padding: 1em;
}

/* Document Wide: End */
/* Page One: Start*/
#page-1 {
  background-color: #faaf3f;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#page-1 a {
  text-decoration: none;
}

#page-1 .sub-title {
  text-align: left;
  margin: 0;
}

#page-1 .title {
  text-transform: uppercase;
  text-shadow: 3px 3px #fff;
  font-size: 5.5rem;
  text-align: left;
  margin: 0px 0 60px;
}

#page-1 .paragraph {
  text-align: left;
  margin: 0;
  font-weight: 600;
  font-size: 1.1rem;
}

#page-1 .page-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-1 .page-container .sctn {
  max-width: 50%;
  padding: 0 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#page-1 .page-container .sctn .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-1 .page-container .sctn .btn-container #requestPortButton {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0 150px;
  border-radius: 100px;
  border: 2px solid #000;
  margin: 60px 0 45px;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

#page-1 .page-container .sctn .btn-container #requestPortButton h1 {
  font-size: 1.5rem;
}

#page-1 .page-container .sctn .btn-container #requestPortButton:active {
  margin: 65px 14px 34px -14px;
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
  border: 5px solid #000;
}

#page-1 .page-container .sctn .btn-container .btn-sub {
  text-align: center;
  width: 50%;
}

#page-1 .page-container .img-sctn {
  width: 45%;
}

#page-1 .page-container .microbit-img {
  position: absolute;
  top: -30px;
  right: 0;
  width: 40%;
}

#page-1 .page-bottom {
  background-color: #fff;
  padding: 55px;
  border-radius: 38px;
  border: 2px solid #000;
  margin: 80px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#page-1 .page-bottom span {
  width: 25%;
}

#page-1 .page-bottom span .btn-cont button {
  -webkit-box-shadow: -4px 4px 0px 2px #000;
          box-shadow: -4px 4px 0px 2px #000;
}

#page-1 .page-bottom span .btn-cont button:active {
  margin: 14px 0 0 0;
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
  border: 5px solid #000;
}

#page-1 .page-bottom span .des-title {
  min-height: 70px;
}

#page-1 .page-bottom span .description {
  margin: 30px 0;
}

#page-1 .page-bottom span .main-des {
  min-height: 150px;
}

/* Page One: End*/
/* Page Two: Start*/
#page-2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#page-2 div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-2 div:first-child .help-section {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 3em 3em 2em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #faaf3f;
}

#page-2 div:first-child .help-section h1 {
  font-size: 3.5vw;
}

#page-2 div:first-child .help-section h2 {
  font-size: 2vw;
}

#page-2 div:first-child .help-section p {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 1.3rem;
}

#page-2 div:first-child .help-section button {
  -webkit-box-shadow: -4px 4px 0px 2px #000;
          box-shadow: -4px 4px 0px 2px #000;
  margin-bottom: 60px;
}

#page-2 div:first-child .help-section button:active {
  margin: 14px 18px 50px 0px;
  -webkit-box-shadow: 0 0 0 #fff;
          box-shadow: 0 0 0 #fff;
  border: 5px solid #000;
}

#page-2 div:first-child .help-section .instruction-container {
  background-color: #fff;
  padding: 25px;
  border-radius: 30px;
  border: 3px solid #f37423;
}

#page-2 div:first-child .help-section .instruction-container h2 {
  margin: 0 0 40px 0;
}

#page-2 div:first-child .help-section .instruction-container .instruction {
  margin: 30px 0 50px;
}

#page-2 div:first-child .help-section .instruction-container .tms-img {
  width: 100%;
}

#page-2 div:first-child #connectPort {
  width: 60%;
  padding: 14em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#page-2 div:first-child #connectPort p {
  margin: 18px;
  text-align: center;
}

#page-2 div:first-child #connectPort #cam-select,
#page-2 div:first-child #connectPort #aud-select {
  display: none;
  width: 100%;
  margin: 10px 0;
  padding: 0 30px;
}

#page-2 div:first-child #connectPort #cam-select p,
#page-2 div:first-child #connectPort #aud-select p {
  font-size: 1.3rem;
  text-align: left;
  margin: 0;
}

#page-2 div:first-child #connectPort #cam-select select,
#page-2 div:first-child #connectPort #aud-select select {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 250px;
  font-size: 1rem;
  border: 2px solid #faaf3f;
  border-radius: 5px;
  padding: 7px;
}

#page-2 div:first-child #connectPort #cam-select select:before,
#page-2 div:first-child #connectPort #aud-select select:before {
  padding: 5px;
}

#page-2 div:first-child #connectPort #cam-select .choose-label,
#page-2 div:first-child #connectPort #aud-select .choose-label {
  padding: 0 10px 0 0;
}

#page-2 div:first-child #connectPort .input-container {
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#page-2 div:first-child #connectPort .input-container input {
  padding: 10px;
  width: 97%;
  border: 3px solid #000;
  border-radius: 5px;
  font-size: 1.3rem;
}

#page-2 div:first-child #connectPort .input-container button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 37px;
  border-radius: 100px;
  border: 2px solid #000;
  -webkit-box-shadow: -2px 3px 0px 1px #000;
          box-shadow: -2px 3px 0px 1px #000;
  font-weight: 700;
  margin: 0 0;
}

#page-2 div:first-child #connectPort .input-container button:active {
  margin: 2px 5px 2px 0;
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
  border: 5px solid #000;
}

/* Page Two: End*/
/* Page Three: Start*/
#page-3 h1 {
  margin: 30px 30px 20px;
}

#page-3 .webcam-container {
  width: 65vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-3 .webcam-container canvas {
  border: 4px solid #000;
  border-radius: 7px;
  width: 36vw;
  margin: auto;
}

#page-3 #audio-container {
  display: none;
  text-align: center;
}

#page-3 #audio-container canvas {
  width: 555px;
  height: 100%;
}

#page-3 #audio-container .fas {
  margin: 25%;
}

#page-3 .page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#page-3 .page-container .display {
  width: 40%;
  position: relative;
  margin: 80px 30px 0;
}

#page-3 .page-container .display .display-container {
  border: 3px solid #000;
  padding: 0 0 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#page-3 .page-container .display .display-container .description {
  width: 90%;
  margin: 20px 0;
}

#page-3 .page-container .display .display-container .undercard {
  color: #fff;
  font-weight: 700;
  background-color: #000;
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

#page-3 .page-container .display .display-container .undercard p {
  margin: 0;
  font-size: 1.3rem;
}

#page-3 .page-container .display .display-container #results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid #000;
  width: 90%;
  border-radius: 50px;
  padding: 20px 0 40px;
  overflow: auto;
  max-height: 60vh;
}

#page-3 .page-container .display .display-container #results h2 {
  margin: 10px 40px;
}

#page-3 .page-container .display .display-container #results #label-container {
  overflow-y: auto;
}

#page-3 .page-container .display .display-container #results #label-container div:nth-of-type(even) {
  background-color: #fff;
  color: #000;
}

#page-3 .page-container .display .display-container #results #label-container div:nth-of-type(odd) {
  background-color: #000;
  color: #fff;
}

#page-3 .page-container .display .display-container #results #label-container .meter {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  text-transform: uppercase;
  height: 20px;
  /* Can be anything */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#page-3 .page-container .display .display-container #results #label-container .meter .meter-container {
  width: 50%;
  background-color: #d5e6da;
  border-radius: 4px;
}

#page-3 .page-container .display .display-container #results #label-container .meter .meter-container span {
  height: 25px;
  border-radius: 4px;
  background-color: #2bc253;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: width 0.35s ease-in-out;
  transition: width 0.35s ease-in-out;
}

#page-3 .page-container .display .display-container #results #label-container .meter .meter-container span p {
  width: 100%;
  color: #000;
}

#page-3 .page-container .display .display-container #results #label-container .meter .label,
#page-3 .page-container .display .display-container #results #label-container .meter p {
  margin: 0 10px;
  width: 40%;
}

#page-3 .page-container .display .display-container #results #label-container .meter .label {
  word-wrap: break-word;
}

#page-3 .page-container .display .help-dropdown {
  position: relative;
  margin-top: 20px;
}

#page-3 .page-container .display .help-dropdown #help-button {
  -webkit-box-shadow: -2px 4px 0px 0px #000;
          box-shadow: -2px 4px 0px 0px #000;
  z-index: 2;
  position: relative;
}

#page-3 .page-container .display .help-dropdown #help-button:active {
  margin: 14px 20px 0px 0;
}

#page-3 .page-container .display .help-dropdown .help-content {
  display: none;
  position: absolute;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 30px;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  left: 16px;
  top: 24px;
}

#page-3 .page-container .display .help-dropdown .help-content span:not(.toggle-container) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: default;
}

#page-3 .page-container .input-container .restart-button {
  width: 250px;
}

#page-3 .page-container .input-container .restart-button button {
  width: 30%;
  padding: 15px 37px;
  border-radius: 100px;
  border: 2px solid #000;
  -webkit-box-shadow: -2px 3px 0px 1px #000;
          box-shadow: -2px 3px 0px 1px #000;
  font-weight: 700;
  margin: 0 0 25px;
  float: right;
}

#page-3 .page-container .input-container .restart-button button:active {
  -webkit-box-shadow: 0 0 0 0 #fff;
          box-shadow: 0 0 0 0 #fff;
  margin: 5px 8px 14px;
}

#page-3 .page-container .input-container .restart-button button:hover {
  cursor: pointer;
}

#page-3 .page-container .input-container .log-dropdown {
  position: relative;
  margin-top: 20px;
}

#page-3 .page-container .input-container .log-dropdown #message-log {
  z-index: 2;
  width: 100%;
  margin: 40px 0;
  position: relative;
  display: none;
}

#page-3 .page-container .input-container .log-dropdown #message-log:active {
  margin: 45px 0px 29px -15px;
}

#page-3 .page-container .input-container .log-dropdown .log-content {
  display: none;
  position: absolute;
  border: 2px solid #000;
  border-radius: 50px;
  padding: 30px;
  background-color: #fff;
  min-width: 160px;
  z-index: 1;
  width: 94%;
  left: -14px;
  top: 68px;
  max-height: 400px;
  overflow-x: auto;
}

#page-3 .page-container .input-container .log-dropdown .log-content .log-paragraph {
  font-size: 1.4rem;
  margin: 10px;
}

#page-3 .loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: '\2026';
  /* ascii code for the ellipsis character */
  width: 0px;
}

#page-3 .disabled {
  pointer-events: none;
}

#page-3 .toggle-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 10px;
}

#page-3 .toggle-container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

#page-3 .toggle-container .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

#page-3 .toggle-container .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#page-3 .toggle-container .switch .slider::before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#page-3 .toggle-container .switch input:checked + .slider {
  background-color: #f37423;
}

#page-3 .toggle-container .switch input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #f37423;
          box-shadow: 0 0 1px #f37423;
}

#page-3 .toggle-container .switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

#page-3 .toggle-container .switch .slider.round {
  border-radius: 34px;
}

#page-3 .toggle-container .switch .slider.round:before {
  border-radius: 50%;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

/* Page Three: End*/
/* Mobile: Start*/
@media only screen and (max-width: 1440px) {
  #page-1 .title {
    font-size: 4.5rem;
    margin: 0 0 30px;
  }
  #page-1 .page-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #page-1 .page-container .sctn {
    padding: 0;
  }
  #page-1 .page-container .sctn .btn-sub {
    width: 68% !important;
  }
  #page-1 .page-container .sctn .paragraph {
    font-size: 1rem;
  }
  #page-1 .page-container .sctn #requestPortButton {
    padding: 0 !important;
    width: 100% !important;
  }
  #page-2 .input-container {
    width: 55%;
  }
  #page-3 .webcam-container {
    width: 56vw;
  }
  #page-3 .display {
    width: 40%;
  }
}

/* Mobile: End*/
/*# sourceMappingURL=index.css.map */