/* End: Variables */

/* Standard Elements: Start */
html,
body {
	height: 100%;
	font-family: 'Karla', sans-serif;
	margin: 0 !important;
}

h1 {
	font-size: 4rem;
	color: #000 !important;
}

h2 {
	font-size: 1.9rem;
}

p {
	max-width: none !important;
}

button:not(#alert-ok):not(.glitchButtonElement) {
	font-weight: 700;
	border: 2px solid #000000;
	height: fit-content;
	padding: 10px;
	cursor: pointer;
	margin: 10px;
	font-size: 18px;
	box-shadow: -12px 10px 0px 2px #000;
	background-color: #fff;
	transition: all 0.2s ease, background-color 0.5s ease;

	&:hover:not(.glitchButtonElement):not(#alert-ok) {
		background-color: #037f51 !important;
	}

	&:active:not(.glitchButtonElement):not(#alert-ok) {
		background-color: #106b5a;

		box-shadow: 0 0 0 #fff;
		border: 5px solid #000;
	}
}
/* Standard Elements: End */

/* Document Wide: Start */
#alert-div {
	display: none;
	background-color: #fff;
	top: 10px;
	transform: translate(-50%, 0);
	border-radius: 5px;
	border: 2px solid #f37423;
	position: absolute;
	width: fit-content;
	min-width: 300px;
	left: 50%;
	padding: 9px;
	box-sizing: border-box;
	text-align: center;
	font-weight: 600;

	button {
		background-color: #fff;
		border-radius: 3px;
		border: 2px solid #aaa;
		padding: 2px;
		text-align: center;
		width: 80px;
		cursor: pointer;
		float: right;
		font-weight: 600;

		&:hover,
		&:active {
			background-color: #f37423;
			border: 2px solid #f37423;
			color: #fff;
		}
	}
}

.init-hide {
	display: none;
}
.init-hide-imp {
	display: none !important;
}

.sub-title {
	font-weight: 800;
	margin: auto;
	width: fit-content;
	font-size: 1.5rem;
}

.fas {
	font-size: 7rem;
}

.small-btn {
	width: 100%;
	padding: 10px 17px;
	border-radius: 100px;
	border: 2px solid #000;
	overflow: hidden;
	align-self: center;

	&:active {
		border: 5px solid #000;
	}
}

#page {
	&-1 {
		padding: 3em 2em 2em;
	}
	&-3 {
		padding: 1em;
	}
}
/* Document Wide: End */

/* Page One: Start*/
#page-1 {
	background-color: #faaf3f;
	width: 100%;
	box-sizing: border-box;
	a {
		text-decoration: none;
	}

	.sub-title {
		text-align: left;
		margin: 0;
	}

	.title {
		text-transform: uppercase;
		text-shadow: 3px 3px #fff;
		font-size: 5.5rem;
		text-align: left;
		margin: 0px 0 60px;
	}

	.paragraph {
		text-align: left;
		margin: 0;
		font-weight: 600;
		font-size: 1.1rem;
	}

	.page-container {
		align-items: center;
		display: flex;

		.sctn {
			max-width: 50%;
			padding: 0 50px;
			display: flex;
			flex-direction: column;

			.btn-container {
				display: flex;
				flex-direction: column;
				align-items: center;
				#requestPortButton {
					width: fit-content;
					padding: 0 150px;
					border-radius: 100px;
					border: 2px solid #000;
					margin: 60px 0 45px;
					overflow: hidden;
					align-self: center;

					h1 {
						font-size: 1.5rem;
					}

					&:active {
						margin: 65px 14px 34px -14px;
						box-shadow: 0 0 0 #fff;
						border: 5px solid #000;
					}
				}

				.btn-sub {
					text-align: center;
					width: 50%;
				}
			}
		}

		.img-sctn {
			width: 45%;
		}
		.microbit-img {
			position: absolute;
			top: -30px;
			right: 0;
			width: 40%;
		}
	}

	.page-bottom {
		background-color: #fff;
		padding: 55px;
		border-radius: 38px;
		border: 2px solid #000;
		margin: 80px 0;
		display: flex;
		justify-content: space-around;

		span {
			width: 25%;
			.btn-cont {
				button {
					box-shadow: -4px 4px 0px 2px #000;

					&:active {
						margin: 14px 0 0 0;
						box-shadow: 0 0 0 #fff;
						border: 5px solid #000;
					}
				}
			}
			.des-title {
				min-height: 70px;
			}

			.description {
				margin: 30px 0;
			}

			.main-des {
				min-height: 150px;
			}
		}
	}
}
/* Page One: End*/
/* Page Two: Start*/
#page-2 {
	box-sizing: border-box;

	div:first-child {
		display: flex;

		.help-section {
			width: 40%;
			display: flex;
			padding: 3em 3em 2em;
			flex-direction: column;
			background-color: #faaf3f;
			h1 {
				font-size: 3.5vw;
			}

			h2 {
				font-size: 2vw;
			}

			p {
				align-self: flex-start;
				font-size: 1.3rem;
			}
			button {
				box-shadow: -4px 4px 0px 2px #000;
				margin-bottom: 60px;
				&:active {
					margin: 14px 18px 50px 0px;
					box-shadow: 0 0 0 #fff;
					border: 5px solid #000;
				}
			}

			.instruction-container {
				background-color: #fff;
				padding: 25px;
				border-radius: 30px;
				border: 3px solid #f37423;
				h2 {
					margin: 0 0 40px 0;
				}

				.instruction {
					margin: 30px 0 50px;
				}

				.tms-img {
					width: 100%;
				}
			}
		}

		#connectPort {
			width: 60%;
			padding: 14em 0 0;
			display: flex;
			flex-direction: column;
			align-items: center;

			p {
				margin: 18px;
				text-align: center;
			}

			#cam-select,
			#aud-select {
				display: none;
				width: 100%;
				margin: 10px 0;
				padding: 0 30px;

				p {
					font-size: 1.3rem;
					text-align: left;
					margin: 0;
				}

				select {
					width: fit-content;
					max-width: 250px;
					font-size: 1rem;
					border: 2px solid #faaf3f;
					border-radius: 5px;
					padding: 7px;

					&:before {
						padding: 5px;
					}
				}

				.choose-label {
					padding: 0 10px 0 0;
				}
			}

			.input-container {
				width: 80%;
				flex-direction: column;
				display: flex;
				justify-content: center;
				align-items: flex-end;

				input {
					padding: 10px;
					width: 97%;
					border: 3px solid #000;
					border-radius: 5px;
					font-size: 1.3rem;
				}

				button {
					width: fit-content;
					padding: 10px 37px;
					border-radius: 100px;
					border: 2px solid #000;
					box-shadow: -2px 3px 0px 1px #000;
					font-weight: 700;
					margin: 0 0;
					&:active {
						margin: 2px 5px 2px 0;
						box-shadow: 0 0 0 0 #fff;
						border: 5px solid #000;
					}
				}
			}
		}
	}
}
/* Page Two: End*/

/* Page Three: Start*/
#page-3 {
	h1 {
		margin: 30px 30px 20px;
	}
	.webcam-container {
		width: 65vw;
		display: flex;

		canvas {
			border: 4px solid #000;
			border-radius: 7px;
			width: 36vw;
			margin: auto;
		}
	}

	#audio-container {
		display: none;
		text-align: center;

		canvas {
			width: 555px;
			height: 100%;
		}

		.fas {
			margin: 25%;
		}
	}

	.page-container {
		display: flex;

		.display {
			width: 40%;
			position: relative;
			margin: 80px 30px 0;

			.display-container {
				border: 3px solid #000;
				padding: 0 0 31px;
				display: flex;
				flex-direction: column;
				align-items: center;
				border-radius: 50px;
				height: fit-content;

				.description {
					width: 90%;
					margin: 20px 0;
				}

				.undercard {
					color: #fff;
					font-weight: 700;
					background-color: #000;
					padding: 10px 0;
					width: 100%;
					text-align: center;
					p {
						margin: 0;
						font-size: 1.3rem;
					}
				}

				#results {
					display: flex;
					flex-direction: column;
					border: 2px solid #000;
					width: 90%;
					border-radius: 50px;
					padding: 20px 0 40px;
					overflow: auto;
					max-height: 60vh;

					h2 {
						margin: 10px 40px;
					}

					#label-container {
						overflow-y: auto;
						div {
							&:nth-of-type(even) {
								background-color: #fff;
								color: #000;
							}
							&:nth-of-type(odd) {
								background-color: #000;
								color: #fff;
							}
						}

						.meter {
							box-sizing: content-box;
							text-transform: uppercase;
							height: 20px; /* Can be anything */
							display: flex;
							align-items: center;
							justify-content: flex-start;
							padding: 10px;
							height: fit-content;

							.meter-container {
								width: 50%;
								background-color: #d5e6da;
								border-radius: 4px;
							}

							.meter-container span {
								height: 25px;
								border-radius: 4px;
								background-color: rgb(43, 194, 83);
								display: flex;
								align-items: center;
								transition: width 0.35s ease-in-out;

								p {
									width: 100%;
									color: #000;
								}
							}

							.label,
							p {
								margin: 0 10px;
								width: 40%;
							}

							.label {
								word-wrap: break-word;
							}
						}
					}
				}
			}
			.help-dropdown {
				position: relative;
				margin-top: 20px;
				#help-button {
					box-shadow: -2px 4px 0px 0px #000;
					z-index: 2;
					position: relative;
					&:active {
						margin: 14px 20px 0px 0;
					}
				}

				.help-content {
					display: none;
					position: absolute;
					border: 2px solid #000;
					border-radius: 50px;
					padding: 30px;
					background-color: #fff;
					min-width: 160px;
					z-index: 1;
					left: 16px;
					top: 24px;

					span:not(.toggle-container) {
						display: flex;
						align-items: center;
						justify-content: center;
						cursor: default;
					}
				}
			}
		}

		.input-container {
			.restart-button {
				width: 250px;

				button {
					width: 30%;
					padding: 15px 37px;
					border-radius: 100px;
					border: 2px solid #000;
					box-shadow: -2px 3px 0px 1px #000;
					font-weight: 700;
					margin: 0 0 25px;
					float: right;

					&:active {
						box-shadow: 0 0 0 0 #fff;
						margin: 5px 8px 14px;
					}

					&:hover {
						cursor: pointer;
					}
				}
			}

			.log-dropdown {
				position: relative;
				margin-top: 20px;
				#message-log {
					z-index: 2;
					width: 100%;
					margin: 40px 0;
					position: relative;
					display: none;

					&:active {
						margin: 45px 0px 29px -15px;
					}
				}
				.log-content {
					display: none;
					position: absolute;
					border: 2px solid #000;
					border-radius: 50px;
					padding: 30px;
					background-color: #fff;
					min-width: 160px;
					z-index: 1;
					width: 94%;
					left: -14px;
					top: 68px;
					max-height: 400px;
					overflow-x: auto;

					.log-paragraph {
						font-size: 1.4rem;
						margin: 10px;
					}
				}
			}
		}
	}

	.loading {
		&:after {
			overflow: hidden;
			display: inline-block;
			vertical-align: bottom;
			-webkit-animation: ellipsis steps(4, end) 900ms infinite;
			animation: ellipsis steps(4, end) 900ms infinite;
			content: '\2026'; /* ascii code for the ellipsis character */
			width: 0px;
		}
	}

	.disabled {
		pointer-events: none;
	}

	.toggle-container {
		width: fit-content;
		margin: 0 10px;

		.switch {
			position: relative;
			display: inline-block;
			width: 60px;
			height: 34px;

			input {
				opacity: 0;
				width: 0;
				height: 0;
			}

			.slider {
				position: absolute;
				cursor: pointer;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: #ccc;
				-webkit-transition: 0.4s;
				transition: 0.4s;

				&::before {
					position: absolute;
					content: '';
					height: 26px;
					width: 26px;
					left: 4px;
					bottom: 4px;
					background-color: white;
					-webkit-transition: 0.4s;
					transition: 0.4s;
				}
			}

			input:checked + .slider {
				background-color: #f37423;
			}

			input:focus + .slider {
				box-shadow: 0 0 1px #f37423;
			}

			input:checked + .slider:before {
				-webkit-transform: translateX(26px);
				-ms-transform: translateX(26px);
				transform: translateX(26px);
			}

			.slider.round {
				border-radius: 34px;
			}

			.slider.round:before {
				border-radius: 50%;
			}
		}
	}
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}
/* Page Three: End*/
/* Mobile: Start*/
@media only screen and (max-width: 1440px) {
	#page-1 {
		.title {
			font-size: 4.5rem;
			margin: 0 0 30px;
		}
		.page-container {
			justify-content: space-between;
			.sctn {
				padding: 0;
				.btn-sub {
					width: 68% !important;
				}
				.paragraph {
					font-size: 1rem;
				}
				#requestPortButton {
					padding: 0 !important;
					width: 100% !important;
				}
			}
		}
	}

	#page-2 .input-container {
		width: 55%;
	}

	#page-3 {
		.webcam-container {
			width: 56vw;
		}
		.display {
			width: 40%;
		}
	}
}
/* Mobile: End*/
